@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the best Library in the whole World Wide Web!</h1>
    <img src="https://cdnuploads.aa.com.tr/uploads/Contents/2020/02/19/thumbs_b_c_5b0f5fae30f09e6fb515cd287f8449f3.jpg?v=122557" class="home-photo" alt="Biggest Library"/>
</div>
