@model IEnumerable<Bokhandel.Models.Book>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width = device-width , initial-scale = 1" />
    <title>Rasmus Library - Books</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <h1 class="header-books">Books available for rent.</h1>

    
    @foreach (var item in Model)
    {
        <div class="col-sm-4 col-la-4 col-md-4">
            <div class="thumbnail">
                <img src="@item.BookUrl" alt="Bookcover-Image" />
            </div>
            <div class="caption">
                <h2>@item.Title</h2>
                <h3>@item.Author</h3>
                <p class="book-desc">@item.Description</p>
            </div>
        </div>
    }



</body>
</html>
